@use "../abstracts" as a;

*{ margin: 0; padding: 0; box-sizing: border-box; }

body{
    @include a.displayFlex(center, center, row);
    background-color: a.$eggshell;
    padding: 80px;
    width: 100%;
}

main{
    width: 100%;
    max-width: 700px;
    background-color: a.$white;
    padding: 30px;
    border-radius: 20px;
    @include a.displayFlex(flex-start, center, column)
}


@media (max-width: 450px) {
    body{
        padding: 0;
    }

    main{
        border-radius: 0;
        padding: 0;
    }

    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}