@use "../abstracts/" as a;

.sec-container2{
    border-bottom: 2px solid #ccc;
    padding: 30px 0;

    h2{
        @include a.fontTitle(400);
        margin-bottom: 10px;
    }

    .instruction{
        margin: 15px 20px;
        @include a.fontBody(400);
    }
}

@media (max-width:450px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}