@use "../abstracts" as a;

.sec-container2{
    border-bottom: 2px solid #ccc;
    padding: 30px 0;

    h2{
        @include a.fontTitle(400);
        margin-bottom: 10px;
    }

    .instruction{
        margin: 15px 20px;
        @include a.fontBody(400);
    }
}

.list-content ol{
    counter-reset: li;
    margin-left: 0;
    padding-left: 0;

    li{
        position: relative;
        padding: 5px 25px;
        list-style-type: none;
    }

    li::before{
        content: counter(li) ". ";
        counter-increment:li;
        position: absolute;
        left: -12px;
        font-weight: 700;
        color: a.$nutmeg;
    }
}

