@use "./variable" as v;

@mixin displayFlex($justify, $alignItems, $column){
    display: flex;
    flex-direction: $column;
    justify-content: $justify;
    align-items: $alignItems;
}

@mixin fontTitle($size){
    font-family: v.$youngSerif;
    font-size: $size;
    font-weight: 400;
}

@mixin fontBody($weight){
    font-family: v.$outfit;
    font-size: 1rem;
    font-weight: $weight;
}